body {
    margin: 0px;
    padding: 0px;
    color: #000000;
    font-size: 16px;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 32px;
    text-align: center;
}

h2 {
    margin: 0px;
    padding: 0px;
    padding-top: 8px;
    font-size: 18px;
    text-decoration: italic;
    text-align: center;
}

a {
    color: #666666;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    color: #000000;
}

div#container {
    margin-left: auto;
    margin-right: auto;
}

div#ip {
    display: none;
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 20%;
    right: 20%;
    height: 80%;
    width: 60%;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ffffff;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0px 0px 10px #ffffff;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px #ffffff;
    z-index: 4;
    opacity: 1.0;
}

table {
    width: 100%;
    text-align: center;
}

th {
    font-weight: bold;
    font-size: 10px;
}

div#ip_stats {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 36px;
}

div#ip_svg_div {
    display: none;
}

div#ip_back {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.8;
    z-index: 3;
}

div#menu {
    position: fixed;
    left: 50%;
    padding: 2px 0px;
    width: 600px;
    margin-left: -300px;
    text-align: center;
    border-radius-bottomleft: 10px;
    border-radius-bottomright: 10px;
    box-shadow: 0px 0px 10px #333333;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-border-radius-bottomleft: 10px;
    -webkit-border-radius-bottomright: 10px;
    -webkit-box-shadow: 0px 0px 10px #333333;
    z-index: 2;
}

div#svg_frame {
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
}

div#zoom {
    position: fixed;
    bottom: 50%;
    margin-bottom: -40px;
    left: 0px;
    width: 50;
    text-align: center;
    border-radius-bottomright: 10px;
    border-radius-topright: 10px;
    box-shadow: 0px 0px 10px #333333;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topright: 10px;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-border-radius-bottomright: 10px;
    -webkit-border-radius-topright: 10px;
    -webkit-box-shadow: 0px 0px 10px #333333;
    z-index: 2;
}

div#zoom img {
    width: 40px;
    padding: 4px 0px;
    border: 0px;
    opacity: 0.5;
}

div.trans {
    opacity: 0.5;
    background-color: #cccccc;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    padding: 0px 10px;
    display: inline;
}

object#svg {
    position: absolute;
}

object#ip_svg {

}

h1 {
    margin: 0px;
    padding: 0px;
}
